* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.6;
    font-family: sans-serif;
}
.heading {
    padding: 15px 5px;
    font-size: 30px;
}
.box {
    width: 350px;
    height: 200px;
}
/**
 * ! Box-sizing:
 * * width + padding + border = actual width of an element
 * * height + padding + border = actual height of an element
 * ? box-sizing: content-box(default) | border-box;
 * ? when we use border-box width is same...means padding and border can not increase the elements width
*/
.box1 {
    /* width is 350px though it has padding, border bcz we use border-box */
    box-sizing: border-box;
    background: limegreen;
    border: 5px solid gray;
    padding: 10px;
}
.box2 {
    /* width is 350px */
    background: bisque;
}
